<!-- fragment 3 start -->
<table  class="m-auto ">
  <tr class="m-auto ">
    <td class="m-auto pt-6 w-[500px] h-[80px] sm:w-[335px] sm:h-[114px] text-[#444444] font-Arial font-normal text-[16px] leading-[18.4px] tracking-[0%] sm:pt-[20px] sm:pl-[20px] text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
  <table class="m-auto w-[350px] h-[46px] mt-7">
    <tr >
      <td  class="text-center  align-middle bg-[#008080] w-[50px] h-[23px] font-bold text-[#FFFFFF] cursor-pointer">
        Ut enim ad minim veniam
      </td>
    </tr>
    
  </table>
  
  
</table>


<!-- fragment 3 end -->
