<table class="pt-[20px]">
  <tr class="h-[48px] w-[470px] sm:w-[335px] sm:h-[45px]">
    <td class="px-base pt-base pb[6px]">
      <x-image class="w-[100px]" imgUrl="image-2.png" href="#" />
    </td>
    <td class="w-[337px] h-[38px] pl-[20px] text-[#002B2B] font-Arial font-normal text-[12px] leading-[13.8px] tracking-[0%] top-[10px] left-[133px] sm:w-[229px] sm:h-[43px] sm:top-[20px] sm:left-[146px]">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
    
  </tr>
</table>
